/* Add your custom styles here */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.jumbotron {
    padding: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}